body {
  background-image: url('grey-background.gif')
}
h1 {
  font-size: 4em;
  color: black;
}

.sub-heading{
  float: left
}
.content {
  padding: 30px;
  background-color: #f8f2ec;
}

.skills-logo{
  height: 70px;
  width: 70px;
}
.job-card{
  height: 200px;
}
.tagline{ font-size: 1.4em; 
  padding: 8px; background: rgba(0,0,0,.6); 
  margin-bottom: 10px;
  color: white;
  border-radius: 5px;
}

p { 
  font-size: 1.1em; 
  line-height: 1.6em;
  color: black; 
  /*margin-bottom: 1em; */
}

.progress {
  height: 10px !important;
}

img { 
    float: left;
    height: 270px;
    width: 270px; 
    margin: 0 1em .25em 0;  
    border-radius: 5px; 
  }

.social-media {
  height: 60px;
  width: 60px;
}
  .social-media-list {
    color: white;
    list-style: none;
    display: flex;
    justify-content: left;
  }

.projects {
  margin-bottom: 20px;
}

.profile-img{
  height: 250px;
  width: 250px;
  float: left;
  border: 3px solid grey;
  border-radius: 5px;
}
.project-image {
    width: 150px;
    height: 220px;
}

.title {
  text-align: center;
}

.project {
  height: 100%;
}

.description {
  text-decoration: italic;
  margin-top: 10px;
  font-size: 0.8em;
  z-index: 1;
}

.title{ 
   position: relative; 
}
.title-text{
  font-size: 3em;
  color: white;
}

#projects {
    margin: 10px -5px;
}
.square-list-item-sm {
    height: 200px;
    width: 200px;
    float: left;
    margin: 0 10px 10px 0;
    position: relative;
    display: table;

}
.square-list-item .thumbnail,
.square-list-item-sm .thumbnail {
    display: block;
    border: 0;
    border-radius: 3px;
    padding: 0;
    margin: 0px;
    border: 3px solid rgba(0,0,0,.6);
}
.square-list-item-sm .thumbnail {
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
}
.square-list-item {
    height: 229px;
    position: relative;
    display: block;
    display: table;
    width: 229px;
    float: none;
    width: 100%;
    font-size: 10px;
    margin: 0 10px 10px 0;
    margin: 0 0 30px 0;
    overflow: hidden;
    justify-content: center;
    display: flex;
    float: left;
}
.experience-item{
  margin-left: 15px;
}
/*Project Title */
.square-list-item .thumbnail_name {
    font-family: arial;
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
    width: 97%;
    opacity:0.8;
    background: #d3d3d3;
    align-self: center;
    z-index: 101;
    overflow: hidden;
    position: relative;
}
.square-list-item:hover .thumbnail_name,
.square-list-item:active .thumbnail_name {
    color: #00adf6;
}

/*positions background image*/
.thumbnail {
    width: 100%;
    background-size: cover;
    background-position: center center;
}

.square-list-item .thumbnailbox > a {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}


.squarelist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.job-logo{
  height: 100px;
  width: 100px;
}
.skill {
  height: 60px;
  padding-top: 10px !important;
}

.skill-name {
  margin-bottom: 0 !important;
}
.progress{
  border: 1px solid grey !important;
  height: 10px !important;
}
.section{
  margin-top: 30px;
}
.progress-bar{
  background: rgba(58, 98, 133, 1) !important;
}

a:hover { 
  color:#000; 
}


